{% extends 'base.html' %}

{% block title %}{% block page_title %}
    Регистрация
{% endblock %}{% endblock %}

{%  block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Логин:
            <input type="text" name="username">
        </label>
        <br>
        <label for="password">Пароль:
            <input type="text" name="password">
        </label>
        <br>
        <label for="password_confirm">Повторите пароль:
            <input type="text" name="password_confirm">
        </label>
        <br>
        <label for="email">Введите электронную почту:
            <input type="text" name="email">
        </label>
        <br>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <input type="submit" value="Зарегистрироваться">

    </form>
{% endblock %}